body{
	height: 100%;
    margin: 0;
    padding: 0;
	background-color: #fff;
	overflow-x: hidden;
	font-family: Roboto,arial,sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 0.5rem;

}
nav  {
	float: right;
}

ul > li {
	margin: auto;
	padding: 0.5rem;
}

.g-img{
	font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
	color: #4285f4;
	left: 215px;
    bottom: 0;
    white-space: nowrap;
}

.container {
	display:flex;
	align-items:center;
	justify-content: center;

}

div.box-out{
	height: 15vh;
		align-items:left;
	justify-content: left;

}


.sectionbox{
	height:100%;
	margin-top:auto;

}

.box-fix{
	max-height:92px;position:relative}
}

.g-img{max-height:100%;max-width:100%;object-fit:contain;object-position:center bottom;width:auto;}

.search-box{
	display: flex;
	padding:20px
}


.search-box{
	font-size: 14px;
    color: #202124;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

form{
	 font-size: 14px;
    /*color: #202124;*/
}

/*.xyz{
	background-color:transparent;border:none;margin:0;padding:0;color:rgba(0,0,0,.87);word-wrap:break-word;outline:none;display:flex;flex:100%;-webkit-tap-highlight-color:transparent;margin-top:-37px;height:34px;font-size:16px;}
	.minidiv; margin-top:-35px;}.a4bIc{display:flex;flex:1;flex-wrap:wrap color:transparent;flex:100%;white-space:pre;height:34px;font-size:16px;
}


.xyz span{
	background:url("/images/experiments/wavy-underline.png") repeat-x scroll 0 100% transparent;padding:0 0 10px 0;
}
*/


footer.footer-section{
	background: #f2f2f2;
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;

}
.footer-left{
	float: left;
	padding: 5px 5px;
}
.footer-right{
	float: right;
	padding: 5px 5px;
}
.footer-center{
	clear: left !important;
	float: center;
	padding: 5px 5px;
}
#adv-search{
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    padding: 0 12px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;

}
/*
.container{
    background-color: rgba(255,255,255,1);
    min-height: 100%;
    margin: 0 auto -60px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}*/



/*.hr{
    border-bottom:  1px solid #ccc;
}
*/

/*span#imgsearch{
	color:#9aa0a6;
	fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
}*/

a{
	text-decoration: none;

}

a:hover{
	text-decoration: underline;
}

div #img-search svg{
	display: block !important;
    height: 100%;
    width: 100%;
}

#img-search{
	display: inline-block;
    fill: currentColor;
    height: 24px;
    position: relative;
    width: 24px;
    color: #9aa0a6;
    line-height: 24px;

}



svg:not(:root) {
    overflow: hidden;
}




.box-margin {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}
.item-cont {
    display: flex;
    align-items: center;
   
}
.search-box{
	margin: auto;
}

.rounded-bound{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #e5e2df;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 700px;
    width: auto;
    max-width: 620px;
}

.fill{
	display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.input-box{
	color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

input.input-search{
	background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    width: 487.034px
}


.g-btn:hover, a, .btn, #adv-search{
	cursor: pointer;
}
.btn-span svg {
    display: block;
    height: 100%;
    width: 100%;
}

div.form-control{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

form.form-box{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    flex-wrap: nowrap;
}

input.btn[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: 127.379px;
    font-stretch: 100%
    border-bottom-color: rgb(218, 220, 224)
    border-left-style: solid
}
input.btn[type="submit"]:hover{
    border: 5px solid #f8f9fa;
    box-shadow: 1px 5px #f8f9fa;

}
img.google-pic{
	 max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
footer div li a {
	color: #70757a;
}
footer.footer-center{
	text-align: center;
}


form.form-box{
	margin: auto;
}
form.form-box div input[type="text"]{
    width: 40vw;
    text-align: left;

}
div span#left-text, div span#right-text{
	color:  #333;
	float: left;
}


p.input-fix, button.g-btn, div.btn-line, div.footer-center{
	display: inline;
}

hr#a-bar{
	width: 100vw;
	border-bottom: 1px solid #ebebeb;
}

div.container div.appbar{
	justify-content: left;
}

p.input-fix{
	flex-wrap: wrap;
	font-size: 14px;
}


div.user-input div input[type='submit']#adv-search{
	 float: right;
    margin: 10px 0;
}

div.label, div.info-text{
	margin: 0, 2em;
	padding: 0em, 1em;
}

div.user-input{
	margin-top: 2%;
}

div.user-input input[type='text']:focus {
  border: 3px solid lightblue; !important;
}


.g-btn{
    flex: 0 0 auto;
    padding-right: 13px
    height: 44px;
    width: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    float: left;
    text-align: left;
    }

  input[type=text] {
  outline: none;
}

footer-section ul {
	display: inline;
	clear: both;
}